# Server Port
PORT=5000

# MongoDB Connection String (e.g., mongodb+srv://user:pass@cluster.mongodb.net/dbname)
MONGO_URI=YOUR_MONGO_URI

# Ensure yt-dlp binary path is provided if not in system PATH
YTDLP_PATH=YOUR_YTDLP_PATH

# Comma-separated list of allowed origins for CORS (e.g., http://localhost:3000,https://example.com)
ALLOWED_ORIGINS=YOUR_ALLOWED_ORIGINS
